ul.inline > li {
  padding-left: 0px;
  padding-right: 10px;
}

.ki-table .table {
  margin-bottom: 5px;
}

.ki-table th, td[class*="Accumulation_"], td[class*="Ki_"] {
  text-align: right;
}

.ki-table .table-condensed thead > tr > th {
  padding-top: 0px;
}

a.disabled {
  color: #D3D3D3;
  cursor: text;
  text-decoration: none;
}

a.maybe {
  color: #808080;
}

.field {
  font-weight: bold;
  border-bottom: 1px solid white;
}

#advantages_dialog .modal-dialog,
#disadvantages_dialog .modal-dialog,
#dp_dialog .modal-dialog,
#ea_advantages_dialog .modal-dialog,
#mk_dialog .modal-dialog,
#natural_bonus_dialog .modal-dialog {
  width: auto;
}

#Common_Advantages, #Common_Disadvantages, #Nemesis_Abilities, #Powers {
  -moz-column-gap: 25px;
  -moz-column-width: 250px;
  -webkit-column-gap: 25px;
  -webkit-column-width: 250px;
}

#EA_Common_Advantages {
  -moz-column-gap: 25px;
  -moz-column-width: 440px;
  -webkit-column-gap: 25px;
  -webkit-column-width: 440px;
}

#Ki_Abilities {
  -moz-column-gap: 25px;
  -moz-column-width: 270px;
  -webkit-column-gap: 25px;
  -webkit-column-width: 270px;
}
