.container label {
  line-height: 30px;
}

span.display {
  line-height: 30px;
}

ul.inline > li {
  padding-left: 0px;
  padding-right: 10px;
}

a.disabled {
  color: #D3D3D3;
  cursor: text;
  text-decoration: none;
}

a.maybe {
  color: #808080;
}

.field {
  font-weight: bold;
  border-bottom: 1px solid white;
}

.modal-body {
  max-height: none;
}

#Element, #creature_class {
  width: 160px;
}
