body {
  /*background: black;
  color: white;*/
}

input.two-digit {
  width: 25px;
}

div.label-parent
{
  line-height: 26px;
}

.error {
  padding: 0.1em;
}

a.disabled {
  color: #D3D3D3;
  cursor: text;
  text-decoration: none;
}
